body {
}
.holiday {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}

.country{
  color: blue;
  font-size: small;
  margin-top: 3px;
  margin-bottom: 3px;
}

.header {
  font-size: medium;
  margin-top: 7px;
  margin-bottom: 7px;
}
