################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Picnic.Net.Dashboard/Picnic.Net.Dashboard.App/.vscode/launch.json
